@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  margin: 0px;
  font-family: Montserrat;
  width: 100vw;
  height: 100vh;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #f8fff1;
  backdrop-filter: blur(5px);
  background-color: rgba(43, 66, 39, 0.6);
}
.bg-body {
  height: 100vh;
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
}

.slider-btn-container {
  position: absolute;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider-btn {
  border-radius: 50%;
  position: absolute;
  padding: 0.2rem;
  cursor: pointer;
  display: grid;
  place-items: center;
  background: transparent;
  border: 0px;
}
.slider-btn img {
  width: 40px;
}
.slider-btn-left {
  left: 50px;
}
.slider-btn-right {
  right: -1250px;
}
.slide {
  display: flex;
  max-width: 100vw;
  position: absolute;
  top: 0;
  z-index: -2;
}
.slide img {
  top: 0px;
  flex: 1 0 100%;
  max-height: 100vh;
  z-index: -2;
}
#logo {
  width: 70px;
  height: 50px;
}

.container-menu {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.container-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.container-menu ul li {
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}

#alugue {
  margin-left: 200px;
  margin-bottom: 3px;
  background-color: #20bc06;
  color: #f8fff1;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  width: 110px;
}

a#alugue {
  margin-top: 50px;
  margin-left: 0px;
  font-weight: 600;
  font-size: 1.3rem;
  width: 125px;
}

.bg-conteudo {
  width: 100%;
  height: 91.8vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
}

.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
}
.esconde {
  display: none;
}
.conteudo h1 {
  font-family: Poppins;
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
  margin-top: 65px;
}

.conteudo p {
  color: white;
  font-size: 1.5rem;
  margin-top: 10px;
}
.regras h1 {
  font-family: Poppins;
  font-size: 2.5rem;
  color: white;
  line-height: 1.5;
  font-weight: 400;
  margin: 40px 0px 0px 0px;
}

.regras li::before {
  content: "";
  width: 8px;
  height: 4px;
  display: block;
  position: absolute;
  background-color: #1cfa08;
  top: 9px;
  left: -20px;
}
.regras li {
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0px;
  border: 0px;
  list-style: none;
  position: relative;
}
.regras div ul {
  padding: 20px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.regra-btn {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-top: 15px;
  gap: 20px;
}

button {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 10px;
  background-color: #90c6a6;
}
.btn-ativo {
  width: 20px;
  height: 20px;
  background-color: #00ff66;
}
